<footer>
    <nav>
        <a href="https://github.com/rgundaba-sudo">GitHub</a> | 
        <a href="https://webpages.charlotte.edu/rgundaba">CLT Web</a> | 
        <a href="https://rgundaba-sudo.github.io">GitHub.io</a> | 
        <a href="https://www.freecodecamp.org/rgundaba">freeCodeCamp</a> | 
        <a href="https://www.linkedin.com/in/rishi-gundabathula-647172329/">LinkedIn</a>
    </nav>
    <p>Page built by <a href="https://rgundaba-sudo.github.io/itis3135/RadiantDesigns/">Radiant Designs</a> &copy; 2026</p>
    <div data-include="Components/validator.html"></div>
</footer>